* {
    padding: 0;
    margin: 0;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: blue;
    filter: brightness(50%);
    font-size: 70px;
}
h1 {
    display: flex;
    flex-direction: row;
}
div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 800px;
    width: 15%;
    background-color: black;
}
.text {
    width: 70%;
    background-color: white;
    font-size: large;
    display: block;
    padding: 10px;
}
p {
    padding-top: 10px;
}
.button {
    background-color: turquoise;
    border: none;
    border-radius: 50%;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    top: 827px;
    left: 50px;
    font-size: large;
}
