* {
    padding: 0;
    margin: 0;
}
html {
    box-sizing: border-box;
}
ul {
    display:flex;
    flex-flow: row nowrap;
    background: white;
    list-style: none;
    justify-content: flex-end;
    margin: 0;
}
a {
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    display: block;
    padding: 20px;
    color: black;
    width: 100px;
}
.log {
    background-color: gray;
}
.about {
    background-color: aquamarine;
}
.explore {
    background-color: rgba(197, 211, 2, 0.822);
}
.contact {
    background-color: rgb(136, 61, 0);
}
#logo {
    float: left;
    height: 75px;
    width: 75px;
    padding: 0;
}
.background {
    height: 800px;
    left: 0;
    right: 0;
    background-color: black;
    position: absolute;
}
h1 {
    display: flex;
    color: white;
    justify-content: center;
}
footer {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
}
.bounce {
    position: relative;
    height: 100px;
    width: 100px;
    background-color: whitesmoke;
    border: 2px solid black;
    margin: 4.5px;
    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.below {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 782px;
    width: 100%;
    height: 110px;
    filter: brightness(30%);
}
.below > div {
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: center;
    font-size: 66px;

}
#one {
    background-color: gray;
}
#two {
    background-color: rgb(43, 255, 0);
}
#three {
    background-color: turquoise;
}
#four {
    background-color: rgb(139, 0, 109);
}
.boxes :nth-child(1) {animation-delay: .3s}
.boxes :nth-child(2) {animation-delay: .4s}
.boxes :nth-child(3) {animation-delay: .5s}
.boxes :nth-child(4) {animation-delay: .6s}
.boxes :nth-child(5) {animation-delay: .7s}
.boxes :nth-child(6) {animation-delay: .8s}
.boxes :nth-child(7) {animation-delay: .9s}
.boxes :nth-child(8) {animation-delay: 1s}
.boxes :nth-child(9) {animation-delay: 1.1s}
.boxes :nth-child(10) {animation-delay: 1.2s}
.boxes :nth-child(11) {animation-delay: 1.3s}
.boxes :nth-child(12) {animation-delay: 1.4s}
.boxes :nth-child(13) {animation-delay: 1.5s}
.boxes :nth-child(14) {animation-delay: 1.6s}
.boxes :nth-child(15) {animation-delay: 1.7s}
.boxes :nth-child(16) {animation-delay: 1.8s}
.boxes :nth-child(17) {animation-delay: 1.9s}

@keyframes move {
    0% {bottom:0px;}
    100% {bottom:650px;}
}
@keyframes changecolor {
    from {background-color: darkblue; border-color: darkblue;}
    to {background-color: turquoise; border-color: turquoise;}
}